{% extends 'base.html.twig' %}

{% block title %}Hello ResellController!{% endblock %}

{% block body %}

<main class="resell-main">
    <div class="title-resell">
        <h1 class="h1-resell">Espace Revente</h1>
    </div>
    <div class="plus-new-annouces">
        <a href="{{ path('app_add_announces') }}" class="btn-new-annouces">+ Créer une nouvelle annonce</a>
    </div>
    <section class="resell-announces">
        <div class="title-my-announces">
            <h2 class="h2-resell">Mes annonces</h2>
        </div>
        {% for announce in app.user.announces %}
            <div class="col-md-3 col-sm-6">
                <div class="card mb-3">
                    <a href="{{ path('app_details_show', { 'id': announce.id }) }}"> 
                        <img class="card-img-top" src="{{ vich_uploader_asset(announce) | imagine_filter('thumbnail')}}" alt="{{ announce.name }}">
                    </a>
                    <div class="card-body">
                        <p class="card-title"> {{ announce.name }}</p>
                        <p class="card-text"><small class="date-text">{{ announce.createdAt | ago(locale='fr') }} </small></p>
                            <a class="suppr-btn" href="{{ path('app_announce_delete') }}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
