{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<main>
<div class="selection_produits">
  <div class="container">
    <h1 class="title-produits">Produits</h1>
   <div id="myBtnContainer">
    <button class="button-produits btn active" onclick="filterSelection('all')"> Tout</button>
    <button class="button-produits btn" onclick="filterSelection('femme')"> Femme</button>
    <button class="button-produits btn" onclick="filterSelection('homme')"> Homme</button>
    <button class="button-produits btn" onclick="filterSelection('mixtes')"> Mixtes</button>
</div>
    <div class="row">
        {% for produit in produits %}
        <div class="col-md-4">
            <div class="{{ produit.class }} card card-produit ">
                    <img class="card-img-top" src=" {{ asset('images/'~produit.image) }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.title }}</h5>
                            <p class="card-text">{{ produit.text }}</p>
                            <a href="{{ path('app_a_propos') }}" class="btn btn-primary">Voir plus</a>
                        </div>
                </div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
  <script>
  filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
        }
    }
    }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
    element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("button-produits");
    for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
    });
    }
    </script>
</main>
{% endblock %}
