{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
<main>
    <div class="home-container">
    <section class="highlights-container top-banner">
        <picture class="parallax" style="top: 0px; bottom: 0px;">
            <div class="header-top-gradient"></div>
            <img src="{{ asset('./images/Hogwarts-overlay.jpg')}}" alt="hagwards-legacy">
        </picture>
        <div class="content">
            <span class="banner-title">Hogwarts Legacy PC</span>
            <div class="container-trend">
                <span class="trend">Tendance du moment</span>
            </div>
        </div>
    </section>
    </div>
    <section class="section-videogame">
        <div class="container">
            <div class="row d-flex justify-content-center mt-5">
                <div class="category-title col-md-3 col-sm-6">
                    <h1 class="category-h1">{{ category.name }}</h1>
                    </div>
                {% for announce in category.announces %}
                    <div class="card-contener col-md-3 col-sm-6">
                        <div class="card mb-3">
                            <a href="{{ path('app_details_show', { 'id': announce.id }) }}"> 
                                <img class="card-img-top" src="{{ vich_uploader_asset(announce) | imagine_filter('thumbnail')}}" alt="{{ announce.name }}">
                            </a>
                            <div class="card-body">
                                <p class="card-title"> {{ announce.name }}</p>
                                <p class="card-text"><small class="date-text">{{ announce.createdAt | ago(locale='fr') }} </small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
